<div class="col-md-12">
        <h3 class="text-center">List of Products</h3> <br>
        </div>
        <div class="col-lg-11">
            <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="type something to search" (keyup)="doSearch(searchTerm)" />
        </div>
        <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Created At</th> 
                    <th>Modified At</th> 
                    <th>Created By</th> 
                    <th>Modified By</th>
                    <th>Status</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pt of products; let idx = index">
                    <td>{{idx+1}}</td>
                    <td>{{pt.ProductTitle}}</td>
                    <td [innerHTML]="pt.ProductDescription"></td>
                    <td>{{pt.Price}}</td>
                    <td>{{pt.CreatedAt | date:'yyyy-MM-dd HH:mm' }}</td>
                    <td>{{pt.ModifiedAt | date:'yyyy-MM-dd HH:mm' }}</td>
                    <td>{{pt.CreatedBy }}</td>
                    <td>{{pt.ModifiedBy }}</td>
                    <td><label [ngClass]="[ 'badge', pt.IsActive==0 ? 'badge-warning' : 'badge-success'] "> {{pt.IsActive==0 ? 'pending' : 'active'}} </label></td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteClick(pt.ProductId)">Delete</button>
                        <button class="btn btn-warning btn-small" [routerLink]="['/app/product/update/' + pt.ProductId]">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
 
    html, body { height: 100%; }
</style>